.textReactMarkdown {
  font-weight: var(--fontWeight-desktop-normal);
}

.textReactMarkdown > :first-child {
  margin-top: 0;
}

.textReactMarkdownLarge {
  font-size: var(--fontSize-desktop-large-body);
  line-height: var(--lineHeight-desktop-large-body);
}

@media screen and (max-width: 768px) {
  .textReactMarkdownLarge {
    font-size: var(--fontSize-mobile-large-body);
    line-height: var(--lineHeight-mobile-large-body);
  }
}

.textReactMarkdown h1 {
  font-size: var(--fontSize-desktop-large-title);
  line-height: var(--lineHeight-desktop-large-title);
  font-weight: var(--fontWeight-desktop-bold);
  margin: 34px 0 18px;
}

@media screen and (max-width: 768px) {
  .textReactMarkdown h1 {
    font-size: var(--fontSize-mobile-large-title);
    line-height: var(--lineHeight-mobile-large-title);
    font-weight: var(--fontWeight-mobile-bold);
    margin: 32px 0 16px;
  }
}

.textReactMarkdown h2 {
  font-size: var(--fontSize-desktop-medium-title);
  line-height: var(--lineHeight-desktop-medium-title);
  font-weight: var(--fontWeight-desktop-bold);
  margin: 32px 0 16px;
}

@media screen and (max-width: 768px) {
  .textReactMarkdown h2 {
    font-size: var(--fontSize-mobile-medium-title);
    line-height: var(--lineHeight-mobile-medium-title);
    font-weight: var(--fontWeight-mobile-bold);
    margin: 30px 0 14px;
  }
}

.textReactMarkdown h3 {
  font-size: var(--fontSize-desktop-small-title);
  line-height: var(--lineHeight-desktop-small-title);
  font-weight: var(--fontWeight-desktop-bold);
  margin: 28px 0 14px;
  padding-left: 50px;
}

@media screen and (max-width: 768px) {
  .textReactMarkdown h3 {
    font-size: var(--fontSize-mobile-small-title);
    line-height: var(--lineHeight-mobile-small-title);
    font-weight: var(--fontWeight-mobile-bold);
    margin: 26px 0 12px;
    padding-left: 0;
  }
}

.textReactMarkdown h4 {
  font-size: var(--fontSize-desktop-xsmall-title);
  line-height: var(--lineHeight-desktop-xsmall-title);
  font-weight: var(--fontWeight-desktop-bold);
  margin: 24px 0 10px;
}

@media screen and (max-width: 768px) {
  .textReactMarkdown h4 {
    font-size: var(--fontSize-mobile-xsmall-title);
    line-height: var(--lineHeight-mobile-xsmall-title);
    font-weight: var(--fontWeight-mobile-bold);
    margin: 22px 0 8px;
  }
}

.textReactMarkdown p {
  margin-bottom: 12px;
}

.textReactMarkdown h2 ~ p,
.textReactMarkdown h3 ~ h2 ~ p {
  padding-left: 50px;
}

.textReactMarkdown h3 ~ p {
  padding-left: 96px;
}

.textReactMarkdown ul {
  list-style-type: disc;
  padding-left: 20px;
}

.textReactMarkdown ol {
  list-style: decimal;
  padding-left: 20px;
}

.textReactMarkdown h2 ~ ul,
.textReactMarkdown h3 ~ h2 ~ ul,
.textReactMarkdown h2 ~ ol,
.textReactMarkdown h3 ~ h2 ~ ol{
  padding-left: 70px;
}

.textReactMarkdown h3 ~ ul,
.textReactMarkdown h3 ~ ol {
  padding-left: 116px;
}

.textReactMarkdown li {
  margin-bottom: 12px;
}

.textReactMarkdown a {
  color: #c8a0f0;
}

.textReactMarkdown p:has(img) {
  padding: 0;
}

.textReactMarkdown img {
  display: block;
  margin: 32px auto;
}

.textReactMarkdown img:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1000px) {
  .textReactMarkdown p {
    padding-left: 0;
    margin-bottom: 10px;
  }

  .textReactMarkdown h2 ~ p,
  .textReactMarkdown h3 ~ h2 ~ p,
  .textReactMarkdown h3 ~ p {
    padding-left: 0;
  }

  .textReactMarkdown h2 ~ ul,
  .textReactMarkdown h3 ~ h2 ~ ul,
  .textReactMarkdown h3 ~ ul,
  .textReactMarkdown h2 ~ ol,
  .textReactMarkdown h3 ~ h2 ~ ol,
  .textReactMarkdown h3 ~ ol{
    padding-left: 20px;
  }

  .textReactMarkdown li {
    margin-bottom: 10px;
  }

  .textReactMarkdown img {
    margin: 24px auto;
  }
}

@media screen and (max-width: 768px) {
  .textReactMarkdown img {
    margin: 16px auto;
    width: 100%;
  }

  .textReactMarkdown img:first-of-type {
    margin-top: 40px;
  }
}

@media screen and (max-width: 420px) {
  .textReactMarkdown img {
    width: 100vw;
    max-width: none;
    object-fit: cover;
    margin: 16px 0 16px calc(-50vw + 50%);
  }
}

.textReactMarkdownMedium {
  font-size: var(--fontSize-desktop-medium-body);
  line-height: var(--lineHeight-desktop-medium-body);
}

@media screen and (max-width: 768px) {
  .textReactMarkdownMedium {
    font-size: var(--fontSize-mobile-medium-body);
    line-height: var(--lineHeight-mobile-medium-body);
  }
}

.textReactMarkdownSmall {
  font-size: var(--fontSize-desktop-small-body);
  line-height: var(--lineHeight-desktop-small-body);
}

@media screen and (max-width: 768px) {
  .textReactMarkdownSmall {
    font-size: var(--fontSize-mobile-small-body);
    line-height: var(--lineHeight-mobile-small-body);
  }
}
