.textReactMarkdown {
  font-weight: var(--fontWeight-desktop-normal);
}

.textReactMarkdown > :first-child {
  margin-top: 0;
}

.textReactMarkdownLarge {
  font-size: var(--fontSize-desktop-large-body);
  line-height: var(--lineHeight-desktop-large-body);
}

@media screen and (max-width: 768px) {
  .textReactMarkdownLarge {
    font-size: var(--fontSize-mobile-large-body);
    line-height: var(--lineHeight-mobile-large-body);
  }
}

.textReactMarkdown h1 {
  font-size: var(--fontSize-desktop-large-title);
  line-height: var(--lineHeight-desktop-large-title);
  font-weight: var(--fontWeight-desktop-bold);
  margin: 34px 0 18px;
}

@media screen and (max-width: 768px) {
  .textReactMarkdown h1 {
    font-size: var(--fontSize-mobile-large-title);
    line-height: var(--lineHeight-mobile-large-title);
    font-weight: var(--fontWeight-mobile-bold);
    margin: 32px 0 16px;
  }
}

.textReactMarkdown h2 {
  font-size: var(--fontSize-desktop-medium-title);
  line-height: var(--lineHeight-desktop-medium-title);
  font-weight: var(--fontWeight-desktop-bold);
  margin: 32px 0 16px;
}

@media screen and (max-width: 768px) {
  .textReactMarkdown h2 {
    font-size: var(--fontSize-mobile-medium-title);
    line-height: var(--lineHeight-mobile-medium-title);
    font-weight: var(--fontWeight-mobile-bold);
    margin: 30px 0 14px;
  }
}

.textReactMarkdown h3 {
  font-size: var(--fontSize-desktop-small-title);
  line-height: var(--lineHeight-desktop-small-title);
  font-weight: var(--fontWeight-desktop-bold);
  margin: 28px 0 14px;
  padding-left: 50px;
}

@media screen and (max-width: 768px) {
  .textReactMarkdown h3 {
    font-size: var(--fontSize-mobile-small-title);
    line-height: var(--lineHeight-mobile-small-title);
    font-weight: var(--fontWeight-mobile-bold);
    margin: 26px 0 12px;
    padding-left: 0;
  }
}

.textReactMarkdown h4 {
  font-size: var(--fontSize-desktop-xsmall-title);
  line-height: var(--lineHeight-desktop-xsmall-title);
  font-weight: var(--fontWeight-desktop-bold);
  margin: 24px 0 10px;
}

@media screen and (max-width: 768px) {
  .textReactMarkdown h4 {
    font-size: var(--fontSize-mobile-xsmall-title);
    line-height: var(--lineHeight-mobile-xsmall-title);
    font-weight: var(--fontWeight-mobile-bold);
    margin: 22px 0 8px;
  }
}

.textReactMarkdown p {
  margin-bottom: 12px;
}

.textReactMarkdown h2 ~ p,
.textReactMarkdown h3 ~ h2 ~ p {
  padding-left: 50px;
}

.textReactMarkdown h3 ~ p {
  padding-left: 96px;
}

.textReactMarkdown ul {
  list-style-type: disc;
  padding-left: 20px;
}

.textReactMarkdown ol {
  list-style: decimal;
  padding-left: 20px;
}

.textReactMarkdown h2 ~ ul,
.textReactMarkdown h3 ~ h2 ~ ul,
.textReactMarkdown h2 ~ ol,
.textReactMarkdown h3 ~ h2 ~ ol{
  padding-left: 70px;
}

.textReactMarkdown h3 ~ ul,
.textReactMarkdown h3 ~ ol {
  padding-left: 116px;
}

.textReactMarkdown li {
  margin-bottom: 12px;
}

.textReactMarkdown a {
  color: #c8a0f0;
}

.textReactMarkdown p:has(img) {
  padding: 0;
}

.textReactMarkdown img {
  display: block;
  margin: 32px auto;
}

.textReactMarkdown img:last-child {
  margin-bottom: 0;
}

.textReactMarkdown table {
  border-collapse: collapse;
  margin: 64px 0;
  max-width: 1240px;
  min-width: 500px;
}

@media screen and (max-width: 1000px) {
  .textReactMarkdown table {
    margin: 32px 0 40px;
  }
}

.textReactMarkdown table th {
  background-color: var(--colors-surface-neutral-hovered);
  color: var(--colors-text-secondary-default);;
  font-weight: var(--fontWeight-desktop-semibold);
  font-size: var(--fontSize-desktop-medium-body);
  line-height: var(--lineHeight-desktop-medium-body);
  text-align: left;
  padding: 20px 24px;
  min-width: 80px;
  max-width: 500px;
  vertical-align: middle;
}

@media screen and (max-width: 1000px) {
  .textReactMarkdown table th {
    font-weight: var(--fontWeight-desktop-normal);
    font-size: var(--fontSize-mobile-medium-body);
    line-height: var(--lineHeight-mobile-medium-body);
  }
}

.textReactMarkdown table td {
  font-size: var(--fontSize-desktop-medium-body);
  line-height: var(--lineHeight-desktop-medium-body);
  padding: 12px;
  min-width: 80px;
  max-width: 500px;
  min-height: 56px;
  vertical-align: middle;
  text-align: left;
}

.textReactMarkdown table td img {
  text-align: center;
  vertical-align: middle;
}

.textReactMarkdown table td,
.textReactMarkdown table th {
  vertical-align: middle;
}

.textReactMarkdown table td:has(img){
  padding: 0;
}

.textReactMarkdown table td img{
  display: block;
  padding: 0;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .textReactMarkdown table td img {
    width: auto;
    height: auto;
    margin-top: 0 !important;
  }
}

.textReactMarkdown table tbody tr:nth-child(odd) {
  background-color: var(--colors-background-primary);
}

.textReactMarkdown table tbody tr:nth-child(even) {
  background-color: var(--colors-background-secondary);
}

@media screen and (max-width: 1000px) {
  .textReactMarkdown p {
    padding-left: 0;
    margin-bottom: 10px;
  }

  .textReactMarkdown h2 ~ p,
  .textReactMarkdown h3 ~ h2 ~ p,
  .textReactMarkdown h3 ~ p {
    padding-left: 0;
  }

  .textReactMarkdown h2 ~ ul,
  .textReactMarkdown h3 ~ h2 ~ ul,
  .textReactMarkdown h3 ~ ul,
  .textReactMarkdown h2 ~ ol,
  .textReactMarkdown h3 ~ h2 ~ ol,
  .textReactMarkdown h3 ~ ol{
    padding-left: 20px;
  }

  .textReactMarkdown li {
    margin-bottom: 10px;
  }

  .textReactMarkdown img {
    margin: 24px auto;
  }
}

@media screen and (max-width: 768px) {
  .textReactMarkdown img {
    margin: 16px auto;
    width: 100%;
  }

  .textReactMarkdown img:first-of-type {
    margin-top: 40px;
  }
}

@media screen and (max-width: 420px) {
  .textReactMarkdown img {
    width: 100vw;
    max-width: none;
    object-fit: cover;
    margin: 16px 0 16px calc(-50vw + 50%);
  }
}

.textReactMarkdownMedium {
  font-size: var(--fontSize-desktop-medium-body);
  line-height: var(--lineHeight-desktop-medium-body);
}

@media screen and (max-width: 768px) {
  .textReactMarkdownMedium {
    font-size: var(--fontSize-mobile-medium-body);
    line-height: var(--lineHeight-mobile-medium-body);
  }
}

.textReactMarkdownSmall {
  font-size: var(--fontSize-desktop-small-body);
  line-height: var(--lineHeight-desktop-small-body);
}

@media screen and (max-width: 768px) {
  .textReactMarkdownSmall {
    font-size: var(--fontSize-mobile-small-body);
    line-height: var(--lineHeight-mobile-small-body);
  }
}

@media screen and (max-width: 768px) {
  :global .hide-on-mobile {
    display: none !important;
  }
}