:root {
  --global-line-break: normal;
  --global-word-break: auto-phrase;
  --fontSize-desktop-large-headline: 48px;
  --fontSize-desktop-medium-headline: 42px;
  --fontSize-mobile-large-headline: 24px;
  --fontSize-mobile-medium-headline: 22px;
  --fontSize-desktop-large-title: 48px;
  --fontSize-desktop-medium-title: 36px;
  --fontSize-desktop-small-title: 22px;
  --fontSize-desktop-xsmall-title: 16px;
  --fontSize-mobile-large-title: 28px;
  --fontSize-mobile-medium-title: 22px;
  --fontSize-mobile-small-title: 20px;
  --fontSize-mobile-xsmall-title: 14px;
  --fontSize-desktop-large-body: 18px;
  --fontSize-desktop-medium-body: 16px;
  --fontSize-desktop-small-body: 14px;
  --fontSize-mobile-large-body: 16px;
  --fontSize-mobile-medium-body: 14px;
  --fontSize-mobile-small-body: 12px;
  --fontSize-desktop-large-button: 22px;
  --fontSize-desktop-medium-button: 20px;
  --fontSize-desktop-small-button: 16px;
  --fontSize-desktop-xsmall-button: 12px;
  --fontSize-mobile-large-button: 22px;
  --fontSize-mobile-medium-button: 20px;
  --fontSize-mobile-small-button: 16px;
  --fontSize-mobile-xsmall-button: 12px;
  --lineHeight-desktop-large-headline: 44px;
  --lineHeight-desktop-medium-headline: 42px;
  --lineHeight-mobile-large-headline: 24px;
  --lineHeight-mobile-medium-headline: 22px;
  --lineHeight-desktop-large-title: 64px;
  --lineHeight-desktop-medium-title: 48px;
  --lineHeight-desktop-small-title: 32px;
  --lineHeight-desktop-xsmall-title: 20px;
  --lineHeight-mobile-large-title: 36px;
  --lineHeight-mobile-medium-title: 30px;
  --lineHeight-mobile-small-title: 28px;
  --lineHeight-mobile-xsmall-title: 18px;
  --lineHeight-desktop-large-body: 24px;
  --lineHeight-desktop-medium-body: 20px;
  --lineHeight-desktop-small-body: 18px;
  --lineHeight-mobile-large-body: 20px;
  --lineHeight-mobile-medium-body: 18px;
  --lineHeight-mobile-small-body: 16px;
  --lineHeight-desktop-large-button: 34px;
  --lineHeight-desktop-medium-button: 28px;
  --lineHeight-desktop-small-button: 24px;
  --lineHeight-desktop-xsmall-button: 16px;
  --lineHeight-mobile-large-button: 34px;
  --lineHeight-mobile-medium-button: 28px;
  --lineHeight-mobile-small-button: 24px;
  --lineHeight-mobile-xsmall-button: 16px;
  --fontWeight-mobile-light: 100;
  --fontWeight-mobile-normal: 400;
  --fontWeight-mobile-semibold: 600;
  --fontWeight-mobile-bold: 700;
  --fontWeight-mobile-superbold: 900;
  --fontWeight-desktop-light: 100;
  --fontWeight-desktop-normal: 400;
  --fontWeight-desktop-semibold: 600;
  --fontWeight-desktop-bold: 700;
  --fontWeight-desktop-superbold: 900;
  --fontFamily-main: sans-serif;
  --fontFamily-additional: sans-serif;
  /* Отступы */
  --spacing-0: 0;
  --spacing-02: 2px;
  --spacing-04: 4px;
  --spacing-08: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-56: 56px;
  --spacing-64: 64px;
  --spacing-80: 80px;
  --spacing-96: 96px;
  /*  Цвета*/
  --colors-background-primary:   #000000;
  --colors-background-secondary:  #171717 ;
  --colors-background-transparent : #00000080;
  --colors-background-accent1 :   linear-gradient(270deg, #F4AD23 0%, #FF3D00 50%, #6A2DC0 100%);
  --colors-background-accent2 :   linear-gradient(90deg, #FFC169 0%, #FFFAEA 25%, #FBA2C6 42%, #F057A2 55%, #985BE7 70%, #60ABED 85%, #50E6C1 100%);



  --colors-border-accent :  #F9D48C ;
  --colors-border-destructive:  #DD4952 ;
  --colors-border-primary:  #FFFFFF ;
  --colors-border-selection: #C49BFC;
  --colors-border-subtle :  #FFFFFF33;

  --colors-text-destructive: #DD4952;
  --colors-text-selection:#C49BFC;
  --colors-text-success: #66C95B;
  --colors-text-accent-default: #F6BA46;
  --colors-text-accent-hovered: #F9D48C;
  --colors-text-accent-grad : linear-gradient(180deg, #FBE1B0 0%, #F6BA46 100%);
  --colors-text-primary-default: #FFFFFF;
  --colors-text-primary-hovered: #A66BFA;
  --colors-text-disabled: #FFFFFF33;
  --colors-text-primary-inverted : #000000;
  --colors-text-primary-muted:  #FFFFFFB3;
  --colors-text-secondary-default: #FFFFFF80;
  --colors-text-secondary-hovered: #FFFFFF;



  --colors-surface-primary-dark: #401A75;
  --colors-surface-primary-default : #FFFFFF;
  --colors-surface-primary-hovered: #9854F8;
  --colors-surface-primary-subtle: #893BF733;
  --colors-surface-primary-grad-default: linear-gradient(90deg, #6A2DC0 0%, #FF3D00 100%);
  --colors-surface-primary-grad-hovered: linear-gradient(90deg, #FF3D00 0%, #893BF7 100%);
  --colors-surface-primary-grad-pressed: linear-gradient(90deg, #A1210B 0%, #55239A 100%);
  --colors-surface-primary-grad-subtle: linear-gradient(360deg, #2B1050 0%, rgba(43, 16, 80, 0.5) 100%);
  --colors-surface-destructive-default: #D92933;
  --colors-surface-destructive-subtle: #D9293333;

  --colors-surface-neutral-dark-default:#00000066;
  --colors-surface-neutral-dark-hovered: #000000B3;
  --colors-surface-neutral-default : #FFFFFF1A;
  --colors-surface-neutral-hovered:#FFFFFF33;
  --colors-surface-neutral-light: #FFFFFF33;
  --colors-surface-neutral-subtle: #FFFFFF08;
  --colors-surface-tetriary-hovered: #FFFFFF;
  --colors-surface-secondary-default: #FFFFFF;
  --colors-surface-secondary-hovered: #D4D4D4;

  --colors-surface-accent1-default: linear-gradient(270deg, #55239A 0%, #9854F8 50%, #55239A 100%);
  --colors-surface-accent2-default:
          linear-gradient(270deg, #55239A 0%, #9854F8 50%, #55239A 100%),
          linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  --colors-surface-accent1-hovered:
          linear-gradient(270deg, #55239A 0%, #9854F8 50%, #55239A 100%),
          linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  --colors-surface-accent2-hovered:
          linear-gradient(90deg, #DCC3FE 0%, #FFCEA5 33%, #E3FAD6 66%, #CEFDFE 100%),
          linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

}
