:root {
  --global-line-break: normal;
  --global-word-break: auto-phrase;
  --fontSize-desktop-large-headline: 48px;
  --fontSize-desktop-medium-headline: 42px;
  --fontSize-mobile-large-headline: 24px;
  --fontSize-mobile-medium-headline: 22px;
  --fontSize-desktop-large-title: 48px;
  --fontSize-desktop-medium-title: 36px;
  --fontSize-desktop-small-title: 22px;
  --fontSize-desktop-xsmall-title: 16px;
  --fontSize-mobile-large-title: 28px;
  --fontSize-mobile-medium-title: 22px;
  --fontSize-mobile-small-title: 20px;
  --fontSize-mobile-xsmall-title: 14px;
  --fontSize-desktop-large-body: 18px;
  --fontSize-desktop-medium-body: 16px;
  --fontSize-desktop-small-body: 14px;
  --fontSize-mobile-large-body: 16px;
  --fontSize-mobile-medium-body: 14px;
  --fontSize-mobile-small-body: 12px;
  --fontSize-desktop-large-button: 22px;
  --fontSize-desktop-medium-button: 20px;
  --fontSize-desktop-small-button: 16px;
  --fontSize-desktop-xsmall-button: 12px;
  --fontSize-mobile-large-button: 22px;
  --fontSize-mobile-medium-button: 20px;
  --fontSize-mobile-small-button: 16px;
  --fontSize-mobile-xsmall-button: 12px;
  --lineHeight-desktop-large-headline: 44px;
  --lineHeight-desktop-medium-headline: 42px;
  --lineHeight-mobile-large-headline: 24px;
  --lineHeight-mobile-medium-headline: 22px;
  --lineHeight-desktop-large-title: 64px;
  --lineHeight-desktop-medium-title: 48px;
  --lineHeight-desktop-small-title: 32px;
  --lineHeight-desktop-xsmall-title: 20px;
  --lineHeight-mobile-large-title: 36px;
  --lineHeight-mobile-medium-title: 30px;
  --lineHeight-mobile-small-title: 28px;
  --lineHeight-mobile-xsmall-title: 18px;
  --lineHeight-desktop-large-body: 24px;
  --lineHeight-desktop-medium-body: 20px;
  --lineHeight-desktop-small-body: 18px;
  --lineHeight-mobile-large-body: 20px;
  --lineHeight-mobile-medium-body: 18px;
  --lineHeight-mobile-small-body: 16px;
  --lineHeight-desktop-large-button: 34px;
  --lineHeight-desktop-medium-button: 28px;
  --lineHeight-desktop-small-button: 24px;
  --lineHeight-desktop-xsmall-button: 16px;
  --lineHeight-mobile-large-button: 34px;
  --lineHeight-mobile-medium-button: 28px;
  --lineHeight-mobile-small-button: 24px;
  --lineHeight-mobile-xsmall-button: 16px;
  --fontWeight-mobile-light: 100;
  --fontWeight-mobile-normal: 400;
  --fontWeight-mobile-semibold: 600;
  --fontWeight-mobile-bold: 700;
  --fontWeight-mobile-superbold: 900;
  --fontWeight-desktop-light: 100;
  --fontWeight-desktop-normal: 400;
  --fontWeight-desktop-semibold: 600;
  --fontWeight-desktop-bold: 700;
  --fontWeight-desktop-superbold: 900;
  --fontFamily-main: sans-serif;
  --fontFamily-additional: sans-serif;
  /* Отступы */
  --spacing-0: 0;
  --spacing-02: 2px;
  --spacing-04: 4px;
  --spacing-08: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-56: 56px;
  --spacing-64: 64px;
  --spacing-80: 80px;
  --spacing-96: 96px;
  /*  Цвета*/
  --colors-background-primary: #000000;
  --colors-background-secondary: #171717;
  --colors-background-transparent: #00000080;

  --colors-border-accent: #f9d48c;
  --colors-border-destructive: #dd4952;
  --colors-border-primary: #ffffff;
  --colors-border-selected: #c49bfc;
  --colors-border-subtle: #ffffff33;

  --colors-text-destructive: #dd4952;
  --colors-text-selection: #c49bfc;
  --colors-text-success: #66c95b;
  --colors-text-accent-default: #f6ba46;
  --colors-text-accent-hovered: #f9d48c;
  --colors-text-primary-default: #ffffff;
  --colors-text-primary-hovered: #a66bfa;
  --colors-text-disabled: #ffffff33;
  --colors-text-primary-inverted: #000000;
  --colors-text-primary-muted: #ffffffb3;
  --colors-text-secondary-default: #ffffff80;
  --colors-text-secondary-hovered: #ffffff;

  --colors-surface-delete: #ff3d00;
  --colors-surface-primary-dark: #401a75;
  --colors-surface-primary-default: #ffffff;
  --colors-surface-primary-hovered: #9854f8;
  --colors-surface-primary-subtle: #893bf733;
  --colors-surface-destructive-default: #d92933;
  --colors-surface-destructive-subtle: #d9293333;
  --colors-surface-disabled: #ffffff1a;
  --colors-surface-neutral-dark-default: #00000066;
  --colors-surface-neutral-dark-hovered: #000000b3;
  --colors-surface-neutral-default: #ffffff1a;
  --colors-surface-neutral-hovered: #ffffff33;
  --colors-surface-neutral-light: #ffffff33;
  --colors-surface-neutral-subtle: #ffffff08;
  --colors-surface-tetriary-hovered: #ffffff;
  --colors-surface-secondary-default: #ffffff;
  --colors-surface-secondary-hovered: #d4d4d4;
}
