@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    min-height: 100vh;
}
@layer base {
    [data-ui-kit="ui-kit"] * {
        color: var(--colors-text-primary-default);
        margin: 0;
        padding: 0;
        word-break: var(--global-word-break);
        line-break: var(--global-line-break);
    }
}

[data-ui-kit="ui-kit"] *,
[data-ui-kit="ui-kit"] *::before,
[data-ui-kit="ui-kit"] *::after {
    box-sizing: border-box;
}

[data-ui-kit="ui-kit"] html,
[data-ui-kit="ui-kit"] body {
    height: 100%;
}

[data-ui-kit="ui-kit"] ul,
[data-ui-kit="ui-kit"] ol {
    list-style: none;
    padding-left: 0;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes frameAppear {
    from {
        opacity: 0;
        transform: scale(0.8) translateY(-20px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}
