@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    min-height: 100vh;
}
@layer base {
    * {
        color: var(--colors-text-primary-default);
        margin: 0;
        padding: 0;
        word-break: var(--global-word-break);
        line-break: var(--global-line-break);
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes modalAppear {
    from {
        opacity: 0;
        transform: scale(0.8) translateY(-20px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}
