@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [data-ui-kit="ui-kit"] * {
        color: var(--colors-text-primary-default);
        margin: 0;
        padding: 0;
        word-break: var(--global-word-break);
        line-break: var(--global-line-break);
    }

    [data-ui-kit="ui-kit"] *,
    [data-ui-kit="ui-kit"] *::before,
    [data-ui-kit="ui-kit"] *::after {
        box-sizing: border-box;
    }

    [data-ui-kit="ui-kit"] html,
    [data-ui-kit="ui-kit"] body {
        height: 100%;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}